.main-header{
    display: flex;
    flex-direction: row;
    background-color: #1a2930;
    height: 60px;
    justify-content: space-between;
    color: #dadada;
    align-items: center;
}

h1{
    font-size: 22px;
    text-align: center;
    
}

.logo-container{
    width: 20%;
}
.logo{
    height: 100%;
    object-fit:scale-down;
}
.header-title-container{
    width: 60%;
}
.header-usergreatings-container{
    width: 20%;
}